<a href="{{base_url()}}/book-detail/{{row.qcode}}" class="listing-item-container compact">
							<div class="listing-item">
 {% if row.cover %}					
	<img src="{{base_url()}}/uploads/images/docs/{{row.cover}}">
	 {% else %}
	 <img src="{{base_url()}}/images/books/default.png">
    {% endif %}
				
{% if row.tag %}<div class="listing-badge now-open">{{row.tag}}</div>{% endif %}

								<div class="listing-item-content">
								
									<h3 style="color:#ffffff;">{{row.title}}
								
								</div>
							
							</div>
						</a>