<!DOCTYPE html>
<head>
<!-- Basic Page Needs
================================================== -->
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="{{ base_url() }}/css/style.css">
<link rel="stylesheet" href="{{ base_url() }}/css/invoice.css">
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
	<div class="dashboard-content">
		{% block content %} {% endblock %}
		</div>

</div>
<!-- END OF DASHBOARD -->
</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="{{ base_url() }}/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/scripts/custom.js"></script>
</body>
</html>