{% extends 'admin_layout.twig' %}
{% block jstriggers %}
<style>
    .note-toolbar {
    z-index: auto;
}
.note-group-select-from-files {
  display: none;
}
.note-modal-backdrop{
    z-index: auto;
}
body{
    z-index: 0;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
    //$('#summernote').summernote();
    $("#summernote").summernote({
        height: 500,
        toolbar: [
            [ 'style', [ 'style' ] ],
            [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
            [ 'fontname', [ 'fontname' ] ],
            [ 'fontsize', [ 'fontsize' ] ],
            [ 'color', [ 'color' ] ],
            [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
            [ 'table', [ 'table' ] ],
            //[ 'insert', [ 'link'] ],
            [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
        ]
    });
    
      $('#selectFaqCategory').change(function() {
		var selectSavedStatus = $(this).val();
        document.getElementById('loadingCategories').style.display = 'block';
   
       var subjects_url = base_url+'/apis/faqsubcategories/list/'+selectSavedStatus;
	   $.get(subjects_url, function(data){
	   document.getElementById('loadingCategories').style.display = 'none';       
	   var subjectSelect = $('#selectFaqSubCategory').empty();
	     var arrData = JSON.parse(data);
           $.each(arrData.result, function(i, item) {
               $('<option value="' + item.id + '">' + item.title + '</option>').
                   appendTo(subjectSelect);
           });
           //alert(result.result.length);
           //alert(JSON.stringify(data));
       });
    });
    
    $('#updateFAQForm').submit(function (e) {
    e.preventDefault();
    $("html, body").animate({ scrollTop: 0 }, "slow");
	document.getElementById('updateFAQForm').style.display = 'none';
	document.getElementById('faqFormOverlay').style.display = 'block';
	//alert("hello");
	var markupStr = $('#summernote').summernote('code');
	$("textarea#description").val(markupStr);
	//alert(markupStr);
	
    $.ajax({
        url: $(this).attr('action'),
        type: "POST",
        data: $(this).serialize(),
		dataType: 'json',
        success: function(data) {
		if(data.error){
		 document.getElementById('updateFAQForm').style.display = 'none';
	     document.getElementById('faqFormOverlay').style.display = 'block';   
		swal({
  title: '',
  html: '<b>'+data.message+'</b>',
  type: 'error',
  showCancelButton: false,
  allowOutsideClick: false,
  confirmButtonColor: '#3085d6',
  focusConfirm: false
});

document.getElementById('updateFAQForm').style.display = 'block';
document.getElementById('faqFormOverlay').style.display = 'none';   
		}else{
		swal({
  title: '',
  html: '<b>'+data.message+'</b>',
  type: 'success',
  showCancelButton: false,
  confirmButtonColor: '#3085d6',
  focusConfirm: false
});
setTimeout(function(){ 
window.location.replace(base_url+'/manage-faqs');
}, 2200);

		}
        },
        error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        //alert(thrownError);
      }
    });
});

    
});
</script>
{% endblock %}
{% block content %}
<div class="row">
			<div class="col-lg-12">
				<div id="add-listing">
				    
				     <div id="faqFormOverlay" style="display:none;">
					<div style="margin: 30px; text-align: center;">
					<img src="{{base_url()}}/images/preloader.gif" width="60"/>
					<h4><strong>Updating FAQ ...</strong></h4>
					<h5>Please wait...</h5>
					<div id="login_msg"></div>
					</div>	
					</div>
					
  <form role="form" name="updateFAQForm" id="updateFAQForm" action="{{base_url()}}/apis/faqs/update" method="POST">
					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> Update FAQ</h3>
						</div>

 	<input type="hidden" name="id" value="{{page.faqEntry.id}}" required/>
						<!-- Title -->
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>FAQ Title * <i class="tip" data-tip-content="Enter title for this FAQ"></i></h5>
								<input class="search-field" type="text" name="title" id="title" value="{{page.faqEntry.title}}" placeholder="FAQ Title" required/>
							</div>
						</div>
						
						
						<div id="loadingCategories" style="display:none;padding:6px 12px;text-align:center;margin:0 auto;background-color:#284F4A;width: fit-content;
    height: fit-content;border-radius:14px;"><span style="color:white;padding-bottom: 4px;">Loading categories</span></div>

						<div class="row with-forms">
							<!-- Status -->
							<div class="col-md-6">
								<h5>Select Category <span>*</span> <i class="tip" data-tip-content="Choose a suitable category"></i></h5>
								<select class="chosen-select-no-single" name="category_id" id="selectFaqCategory" required>
								    
								    {% if page.category_name and page.faqEntry.category_id %}							
<option value="{{page.faqEntry.category_id}}">{{page.category_name}}</option>
{% endif %}	

									<option value="">Select a category</option>	
									{% if page.categories %}
            {% for category_row in page.categories %}
			<option value="{{category_row.id}}">{{category_row.title}}</option>
			{% endfor %}
            {% endif %}
								</select>
							</div>

							<div class="col-md-6">
								<h5>Select Sub-category <span>*</span> <i class="tip" data-tip-content="Select a Sub-category"></i></h5>
								<select class="" name="subcategory_id" id="selectFaqSubCategory">
								     {% if page.subcategory_name and page.faqEntry.subcategory_id %}							
<option value="{{page.faqEntry.subcategory_id}}">{{page.subcategory_name}}</option>
{% endif %}	
									<option value="">Select a category</option>
								</select>
							</div>
						</div>
						<!-- Row / End -->
						
						
						<!-- Intro -->
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>FAQ Content * <i class="tip" data-tip-content="Write the FAQ content in detail"></i></h5>
								 <textarea id="summernote" name="editordata" class="WYSIWYG">
								     {{page.faqEntry.description|raw}}
								 </textarea>
								 
								<textarea class="WYSIWYG" style="display:none;" name="description" cols="40" rows="3" id="description" spellcheck="true" placeholder="Write the FAQ content">{{page.faqEntry.description|raw}}</textarea>
								
							</div>
						</div>

			
<!-- Row -->



						<div class="row with-forms">
							<!-- Type -->
							<div class="col-md-8" style="display:none;">
								<h5>SEO Url <i class="tip" data-tip-content="SEO url to attach this content. No White space allowed." ></i></h5>
								<input type="text" name="qcode" id="qcode" placeholder="SEO Link" value="{{page.faqEntry.url}}" readonly>
							</div>
							
								<div class="col-md-12">
								<h5>Sort Index (Priority Number)<i class="tip" data-tip-content="Enter a number starting from 0. FAQs will be displayed in order of least value first." ></i></h5>
								<input type="number" name="sort_id" id="sort_id" placeholder="e.g. 1,2,3" max="500" value="{{page.faqEntry.sort_id}}">
							</div>
							
						</div>
						<!-- Row / End -->
						<input type="hidden" name="is_published" value="0">	
						<div class="row with-forms">
									<div class="checkboxes margin-top-10 margin-left-10">
										<input id="is_published" type="checkbox" name="is_published" value="1" {% if page.faqEntry.is_published > 0 %}checked{% endif %}>
										<label for="is_published">Publish this FAQ and make available to the public.</label>
									</div>
								</div>
						
							
						<button type="submit" class="button preview"> <i class="fa fa-arrow-circle-right"></i> Update FAQ</button>
						
					</div>
					<!-- Section / End -->
                    </form>
				</div>
			</div>
		</div>
		
{% endblock content %}