{% extends 'admin_layout.twig' %}
{% block jstriggers %}
<script type="text/javascript">
 $(document).ready(function() {

 $('#updateFAQCategoryForm').submit(function (e) {
    e.preventDefault();
    $("html, body").animate({ scrollTop: 0 }, "slow");
	document.getElementById('updateFAQCategoryForm').style.display = 'none';
	document.getElementById('faqFormOverlay').style.display = 'block';
    $.ajax({
        url: $(this).attr('action'),
        type: "POST",
        data: $(this).serialize(),
		dataType: 'json',
        success: function(data) {
		if(data.error){
		 document.getElementById('updateFAQCategoryForm').style.display = 'none';
	     document.getElementById('faqFormOverlay').style.display = 'block';   
		swal({
  title: '',
  html: '<b>'+data.message+'</b>',
  type: 'error',
  showCancelButton: false,
  allowOutsideClick: false,
  confirmButtonColor: '#3085d6',
  focusConfirm: false
});
		}else{
		swal({
  title: '',
  html: '<b>'+data.message+'</b>',
  type: 'success',
  showCancelButton: false,
  confirmButtonColor: '#3085d6',
  focusConfirm: false
});
setTimeout(function(){ 
window.location.replace(base_url+'/faqs-category-manager');
}, 2200);

		}
        },
        error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        //alert(thrownError);
      }
    });
});

});
</script>
{% endblock %}
{% block content %}
<div class="row">
			<div class="col-lg-12">
				<div id="add-listing">
				    
				     <div id="faqFormOverlay" style="display:none;">
					<div style="margin: 30px; text-align: center;">
					<img src="{{base_url()}}/images/preloader.gif" width="60"/>
					<h4><strong>Updating FAQ Category...</strong></h4>
					<h5>Please wait...</h5>
					<div id="login_msg"></div>
					</div>	
					</div>
					
  <form role="form" name="updateFAQCategoryForm" id="updateFAQCategoryForm" action="{{base_url()}}/apis/faqCategories/update" method="POST">
					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> Update FAQ Category</h3>
						</div>

 	<input type="hidden" name="id" value="{{page.faqEntry.id}}" required/>
						<!-- Title -->
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>Category Title * <i class="tip" data-tip-content="Enter title for this Category"></i></h5>
								<input class="search-field" type="text" name="title" id="title" value="{{page.faqEntry.title}}" placeholder="Category Title" required/>
							</div>
						</div>
						
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>Sort Index (Priority Number)<i class="tip" data-tip-content="Enter a number starting from 0. Categories will be displayed in order of least value first." ></i></h5>
								<input type="number" name="sort_id" id="sort_id" placeholder="e.g. 1,2,3" max="500" value="{{page.faqEntry.sort_id}}">
							</div>
						</div>
<!-- Row -->
							
						<button type="submit" class="button preview"> <i class="fa fa-arrow-circle-right"></i> Update Category</button>
						
					</div>
					<!-- Section / End -->
                    </form>
				</div>
			</div>
		</div>
		
{% endblock content %}