{% extends 'layout.twig' %}
{% block content %}
<div id="titlebar" style="background-color:#284F4A;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
<h3 style="color:#ffffff;font-weight:500;">{{page.faq.title}}</h3>
</div></div></div></div>

<!-- Container / Start -->
<div class="container">
    
    <div class="row">
		<div class="col-lg-9 col-md-8 padding-right-30">
		    <div>
			{{page.faq.description|raw}}
			</div>
			
			<h5>{{page.faq.date_updated}}</h5>
			
			
			<hr style="margin-top:30px;margin-bottom:20px;">
<a href="{{base_url()}}/frequently-asked-questions" class="button margin-top-20"><i class="fa fa-arrow-left"></i> Back to All FAQs</a>	


	</div>
	<div class="col-lg-3 col-md-4">
		<div class="sidebar right">



 <div class="widget margin-bottom-10" style="text-align:center;">
<div class="info-box">
<h2><i class="sl sl-icon-speech"></i></h2>				    
<hr>
<p style="color:#333333;font-weight:bold;">Having a question that is not listed here? Feel free to ask!</p>
<a href="{{base_url()}}/contact" class="button margin-top-20"><i class="fa fa-envelope-o"></i> Contact Us</a>				    
</div></div>


<div class="widget margin-top-20"><div class="info-box margin-bottom-20">
				    	<h4 style="font-weight:bold;">FAQs Categories</h4>
	 {% if page.categories %}
				    {% for rowdata in page.categories %}
					<h5 style="font-weight:bold;">
					<a href="#" class="read-more"> {{rowdata.title}} </a>
					</h5>
					
					 {% if rowdata.subcategories|length > 0 %}
				   <div style="margin-bottom:20px;margin-left:5px;">
				    {% for rowmetadata in rowdata.subcategories %}
					<h5>
					<a href="{{base_url()}}/list-faqs?category={{rowmetadata.qcode}}" class="read-more"> <i class="fa fa-angle-right"></i> {{rowmetadata.title}} </a>
					</h5> {% endfor %}</div>
					{% endif %}{% endfor %}
{% endif %}
</div></div>

				    			
</div>
	</div>
		</div>
	
	 
</div>
<!-- Container / End -->
{% endblock content %}