{% extends 'layout.twig' %}
{% block content %}
<div id="titlebar" style="background-color:#34A853;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 style="color:#ffffff;font-weight:600;">Select Subscription Plan</h2>
				<nav id="breadcrumbs">
					<ul>
						<li><a style="color:#ffffff;" href="{{base_url()}}">Home</a></li>
						<li><a style="color:#ffffff;" href="{{base_url()}}/subscription-plans">Subscription Plans</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Pricing Tables
================================================== -->

<!-- Container / Start -->
<div class="container">
<div class="row">
		<div class="col-md-12">
			<h3 class="headline centered margin-top-30">
				Subscription Plans
				 <span>10 Days Free Trial for All Plans.</span>
			</h3>
				{#<div class="notification success margin-bottom-30">#}
				{#	<h5><strong><i class="fa fa-bell"></i> NOTICE </strong></h5>#}
				{#	<p><strong>Online subscription will be activated from March 11, 2020. </strong></p>#}
				{#	<a class="close" href="#"></a>#}
				{#</div>#}
				
				
		</div>
	</div>
	
	<!-- Row / Start -->
	<div class="row">
		<div class="col-md-12">
			<div class="pricing-container margin-top-30">


{% if page.membership_plans|length > 0 %}
{% for row in page.membership_plans %}
	<div class="plan {% if row.is_highlighted %}featured{% endif %}">
	    {% if row.is_highlighted %}	<div class="listing-badge">
					<span class="featured">Featured</span>
					</div>{% endif %}
					<div class="plan-price">
						<h3 style="font-weight:bold;">{{row.title}}</h3>
						{% if row.price <= 0 %}
						{% else %}
							<span class="value"><span style="font-size: 30px;font-weight:600;">US$ {{row.price}}</span></span>
						{% endif %}
						<span class="period">{{row.tagline}}</span>
						 {% if row.note %}
						<span class="period" style="font-weight:bold;">{{row.note}}</span>{% endif %}
					</div>
					<div class="plan-features">
					    <p >{{row.membersip_desc | raw}}</p>
					    	<a class="button {% if row.is_available ==1 %}{% else %}border{% endif %}"
						 {% if row.is_available %}
						href="{{base_url()}}/get-membership/{{row.qcode}}"{% else %}href="#"{% endif %}
						>{{row.action_label}}</a>
					</div>
				</div>
	 {% endfor %} 
{% endif %}


			</div>
		</div>
	</div>
	<!-- Row / End -->

</div>
<!-- Container / End -->
<a href="{{base_url()}}/contact" class="flip-banner parallax margin-top-65" style="background-color:#34A853;" data-color="#34A853" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
	<div class="flip-banner-content">
		<h2 class="flip-visible" style="font-size:22px;font-weight:600;">Having any issues or difficulties with your account subscription feel free to contact us to resolve your issues.</h2>
		<h2 class="flip-hidden">Contact Bazichic Support <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
{% endblock content %}